<p>
  <strong><%= skill.name %></strong>
  <strong>:</strong>
  <%= skill.value %>
</p>

<p>
<%= link_to 'Destroy Skill', [skill.character, skill],
			method: :delete,
			data: { confirm: 'Really?' } %>
</p>